.wrapper {
    overflow: hidden;
    border-radius: 10px 20px 20px 20px;
    height: 100%;
    background: linear-gradient(
        45deg,
        #ff7878,
        #ffc898,
        #fff89a,
        #cdf2ca,
        #a2cdcd,
        #d1e8e4,
        #cab8ff
    );
}
.fadeEnter {
  opacity: 0;
  transition: opacity 5000ms;
}

.fadeEnterActive {
  opacity: 1;
  transition: opacity 5000ms;
}

.fadeExit {
  opacity: 1;
  transition: opacity 5000ms;
}

.fadeExitActive {
  opacity: 0;
  transition: opacity 5000ms;
}
