.title {
    font-size: 1.5rem;
    text-align: center;
    margin: 1rem 0;
}
.content {
    position: relative;
    width: 100%;
    line-height: 1.5;
    /* margin-bottom: 2rem; */
    text-indent: 30px;
    max-height: 63vh;
    overflow: auto;
}

.btnYes {
    display: block;
    font-size: 1rem;
    width: 80%;
    height: 40px;
    margin: 1rem auto;
    max-width: 250px;
    border-radius: 5px;
    overflow: hidden;
    transition: all 0.3s ease;

    color: #fff;
    background: linear-gradient(45deg, #923a65, #b44577);
    border: 1px solid #923a65;
    text-align: center;
    text-decoration: none;
    line-height: 39px;
}
.btnYes:hover {
    font-size: 1.1rem;
}
