.container {
    position: relative;
    display: block;
    /* width: 100%; */
    margin: 10px 6px;
}
.header {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 5px;
    padding: 12px 20px;
    border-radius: 6px;
    width: 100%;
    min-height: 30px;
    max-height: 50px;
    border: 1px solid #ccc;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all 1s ease;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
}
.header:focus {
    box-shadow: 0 0 5px rgba(13, 179, 212, 0.5);
}
.inputClassName {
    display: none;
}
.toggleArrow {
    transform-origin: center;
    transform: rotate(0deg);
    transition: all 0.3s ease;
}
.toggleArrow.active {
    transform: rotate(90deg);
}

.optionsList {
    position: absolute;
    width: 100%;
    left: 0;
    top: calc(100% + 10px);
    max-height: 200px;
    overflow-y: auto;
    background: rgb(255, 255, 255);
    z-index: 1;

    &::-webkit-scrollbar {
        width: 10px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #888;
        border-radius: 5px;
    }

    &::-moz-scrollbar {
        width: 10px;
    }
    &::-moz-scrollbar-thumb {
        background-color: #888;
        border-radius: 5px;
    }
}

.option {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 0;
    height: 50px;
    margin: 5px;
    cursor: pointer;
    background: rgb(255, 255, 255);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    backface-visibility: hidden;
}

.clearSelectionOption {
    color: red;
    background-color: rgba(255, 0, 0, 0.1);
}

.error {
    margin-top: 0.5em;
    color: red;
}
