.button {
    cursor: pointer;
    padding: 8px;
    background-color: #007bff;
    border-radius: 6px;
    width: 100%;
    color: white;
    transition: all 0.5s ease;
}

.button:hover {
    background-color: #0168d8;
}
