.wrapperDay {
    border-top: 1px transparent solid;
    border-bottom: 1px transparent solid;
    height: auto;
    transition: all 0.45s ease, margin-right 0s ease, margin-left 0s ease;
    /* transition: all 0.45s ease; */
}
.wrapperDay ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.day {
    margin: 0.5rem auto;
    margin-bottom: 1rem;
    border-radius: 20px;
    width: 50%;
    padding: 15px;
    font-size: 1.5rem;
    text-align: center;
    color: aliceblue;
    background-color: rgba(0, 123, 255, 1);
}

.left:first-child::before {
    top: -9px;
    width: 10px;
    height: 10px;
}

.right:last-child::after,
.left:last-child::after {
    display: none;
}

.left,
.right {
    --b: 20px;
    --marginValue: 20px;
    position: relative;
    width: calc(100% - 20px);
    background-color: #f5f5f5;
}
.left {
    margin-top: 20px;
    margin-right: var(--marginValue);
    border-radius: 0 10px 10px 0;
}
.left .day {
    transform: translateX(var(--marginValue));
}
.left ul {
    transform: translateX(var(--marginValue));
}
.left::after,
.right::after,
.left::before,
.right::before {
    content: '';
    position: absolute;
    display: block;
    width: var(--b);
    height: var(--b);
    background-image: url('../../../../img/border.png');
    background-size: cover;
}
.left::after {
    bottom: calc(-1 * var(--b));
}
.left::before {
    top: calc(-1 * var(--b));
    transform: rotate(270deg);
}

.right {
    margin-top: 20px;
    margin-left: var(--marginValue);
    border-radius: 10px 0 0 10px;
}
.right .day {
    transform: translateX(-var(--marginValue));
}
.right ul {
    transform: translateX(-var(--marginValue));
}

.right::after {
    right: 0;
    bottom: calc(-1 * var(--b));
    transform: rotate(90deg);
}
.right::before {
    right: 0;
    top: calc(-1 * var(--b));
    transform: rotate(180deg);
}
